   header{
    background-color: #EAC926;
    height: auto;
    width:auto;
  
    

    
}
.logo{

  width: 250px;
  height: 100px;
  text-align: center;
  margin-bottom: 20px;
  margin-left: 100px;
  
  

}
.buscador{
  margin-left: 100px;
  height: 50px;
  width: 100px;
  
}
.busqueda{
  height: 30px;
  width: 300px;
  margin-bottom: 250px;
}

  
  
  
  
  

.lupa{
  background-color: antiquewhite;
  height:30px;
  width:30px;
  margin-left:100px;
  margin-top: 0px;
  
}
.compra{
  margin-left:200px;
}

.burger-menu{
  color: rgb(228, 228, 235);text-align: center;padding-top: 20px; border-radius:  5px;;
  background-color: blue;
  height: 40px;
  width: 50px;
  margin-top: 100px;
  margin-bottom: 30px;
  
  
  margin-left:600px;
  
}
.texto{
  text-align: center;

}
.banner{
   display: none;
}

.section{text-align: center;
  
}
.precio{
  font-size: 18px;

}
.descuento{
  font-size: 16px;
}
.descripcion{
  font-size: 16px;
}
.icon{
  color: blue;
  margin: top 10px;
}
.gris{color:#666 ;
}
 footer{
  height: auto;
  width: auto;
 }



.imgfoto{
    height: 100px;
    width: 100px;

}




.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 24px;
    
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  