header{
    background-color: #EAC926;
    height: auto;
    width:auto;
      }
   
   
      main{background-color: #ebebeb;
        font-family: "roboto";


    
      }
      .interes{
        text-align: center;
      }